// The following variables can be overridden

// The primary accent color can take any css color property, including hex, named props, rgba etc.

:root {
  --bg-color: #e8e9ec;
  --caret-color: #262a3f;
  --main-color: #2d539e;
  --sub-color: #262a3f;
  --text-color: #33374c;
  --error-color: #cc517a;
  --error-extra-color: #cc3768;
  --colorful-error-color: #cc517a;
  --colorful-error-extra-color: #cc3768;
}

$themes: (
  lightTheme: (
    text: #1d2d50,
    low-neutral: #282c3b,
    neutral-table-border: #262a3f,
    neutral: #33374c,
    high-neutral: #717171,
    bg: #fcdab7,
    accent: #9013FE,
    accent-text: #580E99,
    accent-bg: #A56AD9,
  ),
  darkTheme: (
    text: #fcdab7,
    low-neutral: #1e5f74,
    neutral-table-border: #3c4146,
    neutral: #af9479,
    high-neutral: #979696,
    bg: #1d2d50,
    accent: #13fea4,
    accent-text: #21bd81,
    accent-bg: #087a4e,
  ),
);
